body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; /* Center align text by default */
}

.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
}

.inner-navbar {
    width: 80%;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the menu */
}

.menu li {
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu a.active, .menu a:hover {
    background-color: #4CAF50;
    border-radius: 5px;
}

.welcome-message {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.intro-section, .features-section {
    padding: 20px;
}

.features-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    width: 30%;
    padding: 10px;
    background-color: #e7e7e7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
}

.feature i {
    font-size: 50px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
