/* Contact Page Specific Styles - Mirroring Login/Register/Account Settings Page Styles */

body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main-container .content .item-wrap {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjusted width */
    margin: auto; /* Center the form in the viewport */
}

.main-container .content .item-wrap .item {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4F709C;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    background-color: #213555;
    transition: background-color 0.5s;
}

@media (max-width: 728px) {
    .main-container .content .item-wrap {
        width: 80%; /* Adjust for smaller screens */
        max-width: 400px; /* Ensures it doesn't get too large on small screens */
    }
}
