@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ubuntu&display=swap');

/* Base Styles */
* {
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    position: relative;
    background: #f7f7f7;
    color: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../assets/images/homepage.jpg') no-repeat center center; 
    background-size: cover;
    opacity: 0.55; /* Adjust for desired opacity */
    z-index: -1; /* Ensures the image stays behind the content */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #090f1b;
    padding: 10px 0;
    text-align: center;
    z-index: 10; /* Ensure the header is always on top */
}

.header .logo a {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
    color: #fff;
}

.central-menu ul {
    padding: 0;
    text-align: center;
    margin-top: 60px; /* Adjust based on header height */
}

.central-menu li {
    margin: 20px 0;
}

.central-menu a {
    font-size: 20px;
    color: #090f1b;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.central-menu a:hover, .central-menu a.active {
    background-color: #4F709C;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    z-index: 10; /* Ensure the footer is always on top */
}
